Уважаемый покупатель, {{.Nickname}},

Вы получили это письмо, потому что Evgenick's Digitals запрашивает подтверждение о том, что электронная почта {{.Email}} действительно принадлежит Вам.

Если это так, то перейдите по ссылке ниже:
{{.ConfirmationLink}}

Если вы не регистрировались на {{.WebAppName}}, то проигнорируйте это сообщение.

С уважением, Evgenick's Digitals.