Уважаемый {{.Nickname}},

Вы получили это письмо, потому что {{.ShopName}} запрашивает подтверждение о том, что электронная почта {{.Email}} действительно принадлежит Вам.

Если это так, то перейдите по ссылке ниже:
{{.ConfirmationLink}}
Ссылка действует 10 минут с момента получения электронного письма.

Если вы не регистрировались на {{.ClientAppUrl}}, то проигнорируйте это сообщение.

С уважением, {{.ShopName}}.