Уважаемый {{.Nickname}},

Вы приобрели {{.ItemName}} {{.VariantName}} для сервиса {{.ServiceName}}.

Ниже приведено содержание заказа:
{{.OrderContent}}

Спасибо за покупку на {{.ClientAppUrl}}.

С уважением, Evgenick's Digitals.