Уважаемый {{.Nickname}},

Вы получили это письмо, потому что Evgenick's Digitals запрашивает подтверждение о том, что пользователь {{.Email}} действительно желает сменить пароль учетной записи.

Если это так, то перейдите по ссылке ниже:
{{.ConfirmationLink}}
Ссылка действует 10 минут с момента получения электронного письма.

Если вы не запрашивали смену пароля на https://digitalshop.evgenick.com, то проигнорируйте это сообщение.

С уважением, Evgenick's Digitals.